.mainLogin{
    display: flex;
    justify-content: center;

    .successLogin{
        color: green;
        margin-top: 50px;
    }

    .subLogin{
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(0, 0, 255, 0.188);
        border-radius: 5px;
        height: 35rem;
        width: 25rem;
        position: absolute;
        top:20%;
        background: rgba(49, 36, 188, 0.301);
        box-shadow: 0px 5px 10px 0px #3f3ae7;
        &:hover{
            border: 2px solid rgba(0, 0, 255, 0.448);
        }
        .loginName{
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 120px;
        }
        .loginTxt{
            display: flex;
            flex-direction: column;
            align-items: center;
            .username{
                padding: 5px;
                margin: 10px 0px 10px 0px;

                input{
                    height: 35px;
                    border: 2px solid;
                    border-radius: 5px;

                    &:hover{
                        border: 2px solid blue;
                    }
                }
            }
            .password{
                padding: 5px;

                input{
                    height: 35px;
                    border: 2px solid;
                    border-radius: 5px;

                    &:hover{
                        border: 2px solid blue;
                    }
                }
            }
        }

        .loginBtn{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            #loginBtn{
                width: 30%;
                cursor: pointer;
                height: 35px;
                border-radius: 5px;
                background-color: rgba(9, 102, 121, 0.512);

                &:hover{
                    background-color: rgba(9, 102, 121, 0.674)
                }
            }
        }
    }
}