.mainLogin{
    display: flex;
    justify-content: center;

    .successLogin{
        color: green;
        margin-top: 50px;
    }

    .subLogin{
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-radius: 5px;
        padding: 50px 20px 80px 20px;
        position: absolute;
        top:20%;
        background: rgba(49, 36, 188, 0.301);
        .loginName{
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .loginTxt{
            .username{
                padding: 5px;

                input{
                    height: 35px;
                    border: 2px solid;
                    border-radius: 5px;

                    &:hover{
                        border: 2px solid blue;
                    }
                }
            }
            .password{
                padding: 5px;

                input{
                    height: 35px;
                    border: 2px solid;
                    border-radius: 5px;

                    &:hover{
                        border: 2px solid blue;
                    }
                }
            }
        }

        .mainLogin{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            #loginBtn{
                width: 50%;
                cursor: pointer;
                height: 35px;
                border-radius: 5px;
                background-color: rgba(1, 6, 7, 0.512);

                &:hover{
                    background-color: rgba(0, 0, 255, 0.575);
                }
            }
        }
    }
}